{
  "Servers": {
    "1": {
      "Name": "Default Server",
      "Group": "Server Group",
      "Port": 5432,
      "Username": "postgres",
      "Host": "postgres",
      "SSLMode": "prefer",
      "MaintenanceDB": "postgres"
    }
  }
}
